*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1100px;
    margin: auto;
}
header{
    background-color: #FFF200;
    text-align: center;
}
/*-----------------------------Header-------------------------------------*/
nav{
    background-color: black;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li,a{
    color: #FFFFFF;
    font-size: 12px;
}
nav ul li:nth-child(2) i {
    color: #FFF200;
    font-size: 15px;
}
nav ul li:nth-child(2) a {
    color: #FFF200;
}
nav ul li:nth-child(3){
    position: relative;
}
nav ul li:nth-child(3) input {
   height: 30px;
   width: 100%;
   border-radius: 5px;
   border: none;
   padding-left: 6px;
   outline: none;
}
nav ul li:nth-child(3) i {
    position: absolute;
    font-size: 15px;
    right: 12px;
    color: #333;
    line-height: 30px;
    cursor: pointer;
}
nav ul li:nth-child(4) button {
    height: 30px;
    padding: 0 8px;
    cursor: pointer;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #918e8e;
    border-radius: 5px;
    transition: all 0.3s ease; /*--Tốc độ đổ bóng khi dê chuột vào --*/
}
nav ul li:nth-child(4) button i{
    margin-right: 6px;
}
nav ul li:nth-child(4) button:hover{
   background-color: #6e6b6b;
}
nav ul li:nth-child(5){
    text-align: center;
 }
nav ul li:nth-child(5):hover a{
   color: #FFF200;
}
nav ul li:nth-child(6):hover a{
    color: #FFF200;
 }
 nav ul li:nth-child(7):hover a{
    color: #FFF200;
 }
 nav ul li:nth-child(8):hover a{
    color: #FFF200;
 }
/*--------------------------------Menu Bar----------------------------------*/
.menu-bar{
    background-color: #FED100;
 }
.menu-bar ul{
    display: flex;
    justify-content: space-between;
 }
.menu-bar ul li a{
    color: black;
    font-size: 14px;
    font-weight: bold;
}
.menu-bar ul li a i{
    padding-right: 6px;
    font-size: 16px;
}
.menu-bar-content > ul > li{ /* ">": chỉ dùng trực tiếp cho phần tử đó, phần tử con không ảnh hưởng*/
    padding: 15px 6px;
    transition: all 0.2s ease;
}
.menu-bar ul li:hover{
    background-color: #FFFFFF;
}
.menu-bar-content > ul > li:nth-child(8){
    position: relative;
}
.menu-bar-content > ul > li:nth-child(8)::before {
    position: absolute;
    content: "Giảm 5%";
    display: block;
    height: 15px;
    width: 45px;
    background-color: #F51212;
    border-radius: 5px;
    right: -20px;
    top: 2px;
    font-size: 10px;
    padding-left: 3px;
    color: #FFFFFF;
}
.menu-bar-content > ul > li:nth-child(8)::after{ /*--Mũi tên trỏ xuống màu đỏ phần sim thẻ*/
    position: absolute;
    content: "";
    /* background-color: #F51212; */
    height: 7px;
    width: 7px;
    display: block;
    top: 12px;
    right: 10px;
    z-index: 2;
    transform: rotate(45deg);
}
/*-------------------------Address Form--------------------------------*/
.address-form{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.6);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    display: none;
    z-index: 999;
}
.address-form-content{
    width: 420px;
    height: 450px;
    background-color: #FFF;
    border-radius: 5px;
}
.address-form-content form{
    padding: 12px 40px;
}
.address-form-content h2{
    font-size: 16px;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
}
.address-form-content h2 span{
    display: block;
    position: absolute;
    height: 30px;
    padding: 0 6px;
    border: 1px solid #ddd;
    right: 12px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    line-height: 30px;
    color: #333;
    border-radius: 5px;
}
.address-form-content form p{
    font-size: 16px;
}
.address-form-content form input,select{
    height: 45px;
    display: block; /*--Tự động xuống hàng--*/
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 6px;
    border-radius: 5px;
}
.address-form-content form button{
    margin-top: 20px;
    height: 40px;
    width: 80%;
    cursor: pointer;
    background-color: rgb(249, 126, 14);
    outline: none;
    border: none;
    color: #FFFFFF;
}
/*---------------------------Submenu-----------------------------------*/
.menu-bar-content ul li{
    position: relative;
}
.submenu{
    position: absolute; /*--Neo vào danh mục phụ kiện, phụ thuộc vào div mẹ--*/
    background-color: #ddd;
    width: 300px;
    height: auto;
    left: 0;
    top: 100%;
    padding: 12px;
    display: none;
    z-index: 10;
}
.submenu ul{
    display: flex;
    flex-direction: column;
}
.submenu ul li{
    padding: 6px 0;
}
.menu-bar-content ul li:hover .submenu{
    display: block;
}
.submenu ul li:hover a{
    color: #257ad5;
}
.submenu ul li:hover{
    background: none;
}
/* ------------------------------------------------------- */
#ChiTiet{
    width: 100%;
    float: left;
    margin: 0px auto;
}
#ChiTiet-left{
    width: 60%;
    height: 500px;
    background-color: #FFFFFF;
    float: left;
    padding-left: 80px;
    padding-top: 30px;
}
#ChiTiet-right{
    width: 40%;
    height: 500px;
    float: right;
    padding-top: 30px;
}
#CT-Top{
    width: 100%;
    height: 350px;
}
#CT-Top h2{
    padding-left: 70px;
    padding-bottom: 30px;
}
#CT-Bottom{
    width: 100%;
    height: 150px;
}
#CT-Bottom img{
    width: 80px;
    height: 80px;
    padding: 15px;
    border: 1px solid #ddd ;
    border-radius: 5px;
}
.lc-btn {
    height: 30px;
    line-height: 20px;
    color: #000000;
    border: 1px solid #197dc5;
    border-radius: 5px;
    padding: 0px 20px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
}
.lc-btn:hover {
    cursor: pointer;
    background-color:#197dc5;
    color: white;
}
.lc-btn:focus {
    cursor: pointer;
    background-color:#197dc5;
    color: white;
}
#btnChon {
    background-color:orangered;
    color: white;
    width: 410px;
    height: 40px;
    margin-left: 0px;
    border: red;
    border-radius: 5px;
}
#btnChon:hover{
    cursor: pointer;
    background-color: red;
}
#MoTa{
    float:left;
}
#MoTa-Center{
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}
#MoTa-Center-Left{
    width: 60%;
    height: 500px;
    float: left;
}
#MoTa-Center-Left img{
    width: 100%;
    height:90%;
}
#MoTa-Center-Right{
    width: 40%;
    height: 500px;
    float: right;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
td {
    border: 1px solid #ddd;
    padding: 8px;
} 
.attribute {
    font-weight: bold;
    background-color: #f2f2f2;
}
#spanctsp h3{
    color: #197dc5;
    margin-top: 10px;
    margin-bottom: 5px;
}
#spanctsp span{
    font-size: 18px;
}
/* ---------------------------------------------------------------- */
#content{
    width: 100%;
    min-height: 360px;
    background-color: #FFFFFF;
}
#featured-brands {
    width: 100%;
    height: 280px;
    margin-left: 10px;
}
.brands {
    float:left;
    margin-top: 20px;
    margin-left: 10px;
    width: 15%;
    height: 100px;
    overflow: hidden;
    border: 1px solid #03a6f1;
}
.brands img {
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
}
.brands img:hover {
    transform: scale(1.2);
}
/* ---------------------Footer End-------------------------- */
.lienhe{
    width: 50px;
    height: 100px;
    position: fixed; 
    bottom: 80px;
}
#confirm-wrapper {
    width: 100%;
    height: 150px;
    float: left;
    font-size: 13px;
    background-color: #DDDDDD;
    text-align: center;
    padding-top: 20px;
}
#confirm-wrapper span {
  color: #666666;
}
#confirm-wrapper img {
    float: left;
    width: 200px;
    height: 75px;
    margin-left: 500px;
    padding-top: 10px;
}